@{
	ViewBag.Title = "Testing TeamCity for Windows Azure Web Sites";
}
@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				<h2>@ViewBag.Message</h2>
			</hgroup>
		</div>
	</section>
}
<style type="text/css">
	.imagestyle
	{
		border: 0;
	}
</style>
<h2>This site is automatically deployed to Windows Azure Web Sites using<br /><br />
	<a href="http://www.jetbrains.com/teamcity/"><img class="imagestyle" alt="JetBrains TeamCity" src="~/Images/teamcity-logo.png" /></a></h2>
<br />
<h3>Old Message!</h3>
