@{
	ViewBag.Title = "Testing not only Microsoft for Windows Azure Web Sites";
}
@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				<h2>@ViewBag.Message</h2>
			</hgroup>
		</div>
	</section>
}
<h3>This site is automatically deployed to Windows Azure Web Sites using a <strong><i>"not only Microsoft"</i></strong> deployment option!</h3>
<br />
<h3>Old Message!</h3>
